<!DOCTYPE html>
<html xlmns:th="http://www,thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <!--<head>
        <title>Block de Notas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
          <link href="/css/style.css" rel="stylesheet">
    </head> -->

    <body  background="css/fondo-nota.jpg" bgcolor="FFCECB"> 
    <center><h1 class="text-center font-bold text-4xl my-3 text-gray-700">Notas</h1></center>
    <nav class="mx-auto max-w-max my-5 grid grid-cols-4 gap-3 text-center">
        <a th:href="@{/}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Inicio</a>
        <a th:href="@{/notas}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Notas</a>
        <a  th:href="@{form-contacto.htm}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Contacto</a>
        <a th:href="@{/about}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Acerca</a>
    </nav>    
    <main>   
        <section>     
            <form th:action="@{/notas/nueva-nota}" method="POST" class="border-2 border-gray-400 p-3 rounded-md w-8/12 mx-auto">
                <legend class="font-bold text-center text-xl">Crear nueva nota</legend>
                <div class="grid grid-cols-2 gap-3 my-5">
                    <label class="p-1 font-bold text-center">Titulo</label>
                    <input th:field="*{nota.titulo}" class="border-2 border-gray-300 rounded-md p-1" type="text">
                </div>
                <div class="grid grid-cols-2 gap-3 my-5"> 
                    <label class="p-1 font-bold text-center">Referencia</label>
                    <input th:field="*{nota.referencia}" class="border-2 border-gray-300 rounded-md p-1" type="text">
                </div>
                <div class="my-5">
                    <label class="text-center block my-5 font-bold">Nota</label>
                    <textarea th:field="*{nota.nota}" class="border-gray-400 border-2 rounded-md w-full h-56 p-3"></textarea>
                </div>
                <button type="submit" class="max-w-max mx-auto border-2 border-gray-400 rounded-md p-2 block">Guardar</button>
            </form>
        </section>
        <aside > 
            <nav class="grid grid-cols-3 max-w-max gap-3 ml-auto my-5 text-center" th:if="${sesion == null}">
                <a th:href="@{/login}" class="font-bold border-2 border-gray-400 rounded-md p-1 hover:bg-gray-400 hover:text-white">Ingresar</a>
                <a th:href="@{/register}" class="font-bold border-2 border-gray-400 rounded-md p-1 hover:bg-gray-400 hover:text-white">Registrarse</a>
            </nav>
            <form th:if="${sesion != null}" th:action="@{/logout}" method="POST" class="max-w-max ml-auto mr-10 my-5 text-center">
                <button type="submit" class="font-bold border-2 border-gray-400 rounded-md p-1 hover:bg-gray-400 hover:text-white">Cerrar Sesión</button>
            </form>
        </aside >
    </main>   
    <footer  th:replace="/fragments/footer :: footer"> </footer>     

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script> 

    <!--     <div>
            <footer class="font-bold bg-gray-300 text-gray-700 text-center p-2">Copyright &copy; - 2021 - Walter Gómez Fullstack Developer</footer>
        </div> -->
</body>
</html>
