body {
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:beige;
}
footer{
      text-align:center;
    
}