<!DOCTYPE html>
<html xlmns:th="http://www,thymeleaf.org">
    <head>
        <title>Apuntes de Materias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body  background="fondo.jpg" bgcolor="FFCECB" >
        <main>
            <header>
                <h1 class="text-center font-bold text-4xl my-3 text-gray-700">Apuntes</h1>
                <nav class="mx-auto max-w-max my-5 grid grid-cols-4 gap-3 text-center">
                    <a th:href="@{/}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Inicio</a>
                    <a th:href="@{/apuntes}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Apuntes</a>
                    <a th:href="@{/contact}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">Contacto</a>
                    <a th:href="@{/about}" class="font-bold border-2 border-gray-400 rounded-md p-2 hover:bg-gray-400 hover:text-white block">About</a>
                </nav>     
            </header>        
            <article>
                <form th:action="@{/apuntes/nuevo-apunte}" method="POST" class="border-2 border-gray-400 p-3 rounded-md w-8/12 mx-auto">
                    <legend class="font-bold text-center text-xl">Crear nuevo Apunte</legend>
                    <div class="grid grid-cols-2 gap-3 my-5">
                        <label class="p-1 font-bold text-center">Carrera</label>
                        <input th:field="*{apunte.carrera}" class="border-2 border-gray-300 rounded-md p-1" type="text" th:value="${apunte.carrera}">
                    </div>
                    <div class="grid grid-cols-2 gap-3 my-5"> 
                        <label class="p-1 font-bold text-center">Materia</label>
                        <input th:field="*{apunte.materia}" class="border-2 border-gray-300 rounded-md p-1" type="text">
                    </div>
                    <div class="my-5">
                        <label class="text-center block my-5 font-bold">Apunte</label>
                        <textarea th:field="*{apunte.apunte}" class="border-gray-400 border-2 rounded-md w-full h-56 p-3"></textarea>
                    </div>
                    <input type="hidden" th:field="*{apunte.id}">
                    <button type="submit" class="max-w-max mx-auto border-2 border-gray-400 rounded-md p-2 block">Guardar</button>
                </form>            
            </article>
            <br><br> <br><br>
            <aside>                
                <nav class="grid grid-cols-3 max-w-max gap-3 ml-auto my-5 text-center" th:if="${sesion == null}">
                    <a th:href="@{/login}" class="font-bold border-2 border-gray-400 rounded-md p-1 hover:bg-gray-400 hover:text-white">Ingresar</a>
                    <a th:href="@{/register}" class="font-bold border-2 border-gray-400 rounded-md p-1 hover:bg-gray-400 hover:text-white">Registrarse</a>
                </nav>
                <form th:if="${sesion != null}" th:action="@{/logout}" method="POST" class="max-w-max ml-auto mr-10 my-5 text-center">
                    <button type="submit" class="font-bold border-2 border-gray-400 rounded-md p-1 hover:bg-gray-400 hover:text-white">Cerrar Sesión</button>
                </form>
            </aside>
        </main>
    <div>
    <footer class="font-bold bg-gray-300 text-gray-700 text-center p-2">Copyright &copy; - 2021 - Walter Gomez Fullstack Developer</footer>
</div>
</body>
</html>
